name: CI

on:
  pull_request:
    branches: ['**']

jobs:
  ci-staging:
    # This will be the default CI job for everything except for Main branch.
    uses: ./.github/workflows/base-ci.yml
    with:
      environment: 'staging'
      runner-label: 'patient_staging'
      python-version: '3.9.19'

      # Staging images
      rabbitmq-image: '192.168.188.184:5000/rabbitmq_service_dev:latest'
      activity-service-image: '192.168.188.186:5000/activity_service_dev:latest'
      scheduler-service-image: '192.168.188.173:5000/pear_schedule:latest'

    # The "secrets.XXXX" are passed in from GitHub secrets
    secrets:
      DB_SERVER: ${{ secrets.DB_SERVER }} # Staging server DB
      DB_DATABASE: ${{ secrets.DB_DATABASE }}
      DB_DATABASE_PORT: ${{ secrets.DB_DATABASE_PORT }}
      DB_USERNAME: ${{ secrets.DB_USERNAME }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_DRIVER: ${{ secrets.DB_DRIVER }}
      CLOUDINARY_CLOUD_NAME: ${{ secrets.CLOUDINARY_CLOUD_NAME }}
      CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
      CLOUDINARY_API_SECRET: ${{ secrets.CLOUDINARY_API_SECRET }}
      WEB_FE_ORIGIN: ${{ secrets.WEB_FE_ORIGIN }}
      RABBITMQ_HOST: ${{ secrets.RABBITMQ_HOST }}
      RABBITMQ_PORT: ${{ secrets.RABBITMQ_PORT }}
      RABBITMQ_USER: ${{ secrets.RABBITMQ_USER }}
      RABBITMQ_PASS: ${{ secrets.RABBITMQ_PASS }}
      RABBITMQ_VIRTUAL_HOST: ${{ secrets.RABBITMQ_VIRTUAL_HOST }}


  ci-prod:
    if: github.base_ref == 'main' && github.event_name == 'pull_request'
    uses: ./.github/workflows/base-ci.yml
    with:
      environment: 'prod'
      runner-label: patient
      python-version: '3.9.19'

      rabbitmq-image: '192.168.188.184:5000/rabbitmq_service_dev:latest' 
      activity-service-image: '192.168.188.186:5000/activity_service_dev:latest'
      scheduler-service-image: '192.168.188.173:5000/pear_schedule:latest'

    secrets:
      DB_SERVER: ${{ secrets.DB_SERVER }}
      DB_DATABASE: ${{ secrets.DB_DATABASE }}
      DB_DATABASE_PORT: ${{ secrets.DB_DATABASE_PORT }}
      DB_USERNAME: ${{ secrets.DB_USERNAME }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_DRIVER: ${{ secrets.DB_DRIVER }}
      CLOUDINARY_CLOUD_NAME: ${{ secrets.CLOUDINARY_CLOUD_NAME }}
      CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
      CLOUDINARY_API_SECRET: ${{ secrets.CLOUDINARY_API_SECRET }}
      RABBITMQ_HOST: ${{ secrets.RABBITMQ_HOST }}
      RABBITMQ_PORT: ${{ secrets.RABBITMQ_PORT }}
      RABBITMQ_USER: ${{ secrets.RABBITMQ_USER }}
      RABBITMQ_PASS: ${{ secrets.RABBITMQ_PASS }}
      WEB_FE_ORIGIN: ${{ secrets.WEB_FE_ORIGIN }}
      RABBITMQ_VIRTUAL_HOST: ${{ secrets.RABBITMQ_VIRTUAL_HOST }}